*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #031634;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #CDB380;
    font-size: 16px;
    height: 100px;
    padding: 20px;
}

.logo{
    text-transform: none;
    float: left;
    
    font-size: 30px;
    padding-top: 5px;
}

.logo span{
    color: #E8DDCB;
    font-weight: bold;
}

.barra{
    padding-top: 15px;
    float: right;
}

.barra ul li{
    list-style: none;
    display: inline-block;
}

.barra ul li a{
    text-decoration: none;
    color: #E8DDCB;
    font-weight: bold;
    padding: 10px;
    margin: 15px;
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
    border: 1px solid;
}

.barra ul li a:hover{
    background-color: rgb(187, 185, 185);
    color: #704a0d;
    border: 1px solid rgb(51, 51, 51);
    text-decoration: underline;
}

main{ 
    width: 100%;
    background-color: #E8DDCB;
    background-size: cover;
    height: calc(100vh - 200px);
}

.call{
    color: #036564;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    text-decoration:underline;
    height: 60px;
}

.cont{
    background-size: cover;
    background-image: url(/img/fondo.jpg);
    height: calc(100vh - 200px);
    /* background-color: white; */
}

footer{
    background-color: #031634;
    color: #CDB380;
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    height: 100px;
}

footer p{
    margin-bottom: 10px;
}
footer i{
    font-size: 30px;
    letter-spacing: 10px;
}

.redes a{
    color: #CDB380;
    text-decoration: none;
}
